.splash {
  width: 100%;
  height: 100%;
  position: fixed;
}

.centered {
  color: white;
  font-size: 6em;
  font-weight: 700;
  opacity: 40%;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.splashImage {
  max-width: 100%;
}